@import "mixins";

.black-outline () {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

html {
  font-family: 'Skranji', cursive;
  color: #9caab2;
}

html, body, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
}

body {
  background: #000000 url(../img/tbs.background.jpg) no-repeat 50% 0%
}



#wrapper, #header .inner, #selected-characters {
  width: 960px;
  margin: 0 auto;
}

#header {
  height: 100px;
  background-color: #1d1f32;
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  #gradient > .vertical(#1d1f32, #494e6a);
  h1 {
    padding-top: 25px;
    font-size: 2.5em;
    text-align: center;
    color: #9abaf0;
    .black-outline();
  }
}

#loadout {
  height: 600px;
  .inner {
    padding: 20px 0;
    #gradient > .vertical(#121a1d, #25404c);
  }
}

#selected-characters {
  overflow: hidden;
  .character {
    width: 150px;
    height: 180px;
    float: left;
    margin-right: 10px;
    .title {
      font-size: 1.4em;
      height: 30px;
      .black-outline();
    }
    .portrait {
      height: 150px;
    }
    &:first-child {
      margin-left: 5px;
    }
    &:last-child {
      margin-right: 0px;
    }
  }
}

// Characters

// Mixins
.base-character-portrait (@class) {
  (~".character.@{class}") {
    .portrait {
      background-image: url("../img/characters/base/@{class}.png");
    }
  }
}

.rank-1-character-portrait (@class) {
  (~".character.@{class}") {
    .portrait {
      background-image: url("../img/characters/rank1/@{class}.png");
    }
  }
}

// Basic Character Structure

.character {
  .title {
    text-align: center;
  }
  .portrait {
    background-image: url(../img/empty.character.frame.png);
    background-size: 150px;
  }
}

// Base Character Portraits

.base-character-portrait("raider");
.base-character-portrait("archer");
.base-character-portrait("warrior");
.base-character-portrait("shieldbanger");

// Rank 1 Character Portraits

// Warriors
.rank-1-character-portrait("warhawk");
.rank-1-character-portrait("warleader");
.rank-1-character-portrait("warmaster");

// Archers
.rank-1-character-portrait("bowmaster");
.rank-1-character-portrait("skystriker");
.rank-1-character-portrait("siegearcher");

// Raiders
.rank-1-character-portrait("raidmaster");
.rank-1-character-portrait("thrasher");
.rank-1-character-portrait("backbiter");

// Shieldbangers
.rank-1-character-portrait("strongarm");
.rank-1-character-portrait("provoker");
.rank-1-character-portrait("shieldmaster");
