html {
  font-family: 'Skranji', cursive;
}

html, body, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
}

body {
  background: #000000 url(../img/tbs.background.jpg) no-repeat 50% 0%
}

#wrapper {
  width: 960px;
  margin: 0 auto;
}

#menu {
  height: 100px;
  background: blue;
  h1 {
    text-align: center;
  }
}

#planner {
  height: 600px;
}

.loadout {
  overflow: hidden;
  .character {
    width: 150px;
    height: 180px;
    float: left;
    margin-right: 10px;
    .title {
      font-size: 1.4em;
      height: 30px;
      color: white;
    }
    .portrait {
      height: 150px;
    }
    &:first-child {
      margin-left: 5px;
    }
    &:last-child {
      margin-right: 0px;
    }
  }
}

// Characters

// Mixins
.base-character-portrait (@class) {
  (~".character.@{class}") {
    .portrait {
      background-image: url("../img/characters/base/@{class}.png");
    }
  }
}

.rank-1-character-portrait (@class) {
  (~".character.@{class}") {
    .portrait {
      background-image: url("../img/characters/rank1/@{class}.png");
    }
  }
}

// Basic Character Structure

.character {
  .title {
    text-align: center;
  }
  .portrait {
    background-image: url(../img/empty.character.frame.png);
    background-size: 150px;
  }
}

// Base Character Portraits

.base-character-portrait("raider");
.base-character-portrait("archer");
.base-character-portrait("warrior");
.base-character-portrait("shieldbanger");

// Rank 1 Character Portraits

// Warriors
.rank-1-character-portrait("warhawk");
.rank-1-character-portrait("warleader");
.rank-1-character-portrait("warmaster");

// Archers
.rank-1-character-portrait("bowmaster");
.rank-1-character-portrait("skystriker");
.rank-1-character-portrait("siegearcher");

// Raiders
.rank-1-character-portrait("raidmaster");
.rank-1-character-portrait("thrasher");
.rank-1-character-portrait("backbiter");

// Shieldbangers
.rank-1-character-portrait("strongarm");
.rank-1-character-portrait("provoker");
.rank-1-character-portrait("shieldmaster");
